<?xml version="1.0"?>
<launch>

    <include file="$(find aruco_detector)/launch/aruco_node.launch">
    </include>
    <include file="$(find mavros)/launch/px4.launch">
    </include>

    <node name="shastra_planner" pkg="shastra_planner" type="planner" output="screen">
        <remap from="odometry" to="mavros/local_position/pose"/>
        <remap from="mission_info" to="mavros/setpoint_position/local" />
        <remap from="state" to="mavros/state"/>
        <remap from="mission/wpPull" to="mavros/mission/waypoints"/>
        <remap from="pose_estimator/aruco_pose" to="pose_estimator/aruco_pose" />
        <remap from="mission/reached" to="mavros/mission/reached" />
        <remap from="set_mode" to="mavros/set_mode"/>

    </node>
    <node name="shastra_planner_checkpoint" pkg="shastra_planner" type="planned_checkpoint" output="screen">
        <remap from="setpoint_local/position" to="setpoint_local/position"/>
    </node>

    <!-- <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
        <arg name=""/>

    </node> -->

</launch>